<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <section name="webDriverConfig" type="test.Selenium.DriverConfiguration.ConfigurationSectionHandler, test.Selenium"/>
  </configSections>
  <webDriverConfig>
    <remoteDrivers defaultHubUri="http://localhost:4441/wd/hub/">
      <add key="Chrome"
           testMethodSuffix="_With_Chrome"
           browserName="chrome"
           browserTags="Chrome"
           platform="Windows"
           version=""
           active="true"/>
      <add key="AndroidChrome"
           testMethodSuffix="_With_AndroidChrome"
           browserName="AndroidChrome"
           browserTags="Mobile Native"
           platform="Android"
           version=""
           active="true"
           hubUri="http://localhost:4723/wd/hub/">
        <desiredCapabilities>
          <add key="device" value="Android" type="System.String"/>
          <add key="app" value="chrome" type="System.String"/>
        </desiredCapabilities>
      </add>
      <add key="IE"
           testMethodSuffix="_With_IE"
           browserName="ie"
           browserTags="IE"
           platform="Windows"
           version=""
           active="true">
        <desiredCapabilities>
          <add key="ignoreZoomSetting" value="true" type="System.Boolean"/>
        
        </desiredCapabilities>
      </add>
      <add key="Firefox"
           testMethodSuffix="_With_Firefox"
           browserName="firefox"
           browserTags="Firefox"
           platform="Windows"
           version=""
           active="true"
           />
    </remoteDrivers>
  </webDriverConfig>
  <specFlow>
    <unitTestProvider name="MsTest" />
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <plugins>
      <add name="test" path=".\..\test.SpecFlowPlugin\bin\debug" type="Generator" />
    </plugins>
  </specFlow>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>
    <add key="CslaAuthentication" value="Csla" />
    <!-- EAD Framework Config Keys -->
    <add key="ApplicationCode" value="37C67744-8B0C-4342-9D6A-E481E9655D69" />
    <!-- DEV -->
    <add key="EnvironmentCode" value="A9B978E1-B33F-46E8-8010-2FECEFCB73F1" />
    <add key="SysDbConnectionString" value="server=172.17.5.40\Common;database=EADFramework;user id=ASP;password=4$p4m3!;Trusted_Connection=False" />
    <!-- QA -->
    <!-- 
	<add key="EnvironmentCode" value="6FA32ACE-31BF-4B98-8496-D3EA6F05FC4D" />
	<add key="SysDbConnectionString" value="server=QSQL01\Common;database=EADFramework;user id=ASP;password=4$p4m3!;Trusted_Connection=False" />
	-->
    <add key="TargetDatabase" value="SQL Server"/>
    <!--<add key="CslaDataPortalProxy" value="Csla.DataPortalClient.WebServicesProxy, Csla"/>
    <add key="CslaDataPortalUrl" value="http://localhost:4111/WsPortal.asmx"/>-->
  </appSettings>
</configuration>